{% extends "amanda/base.html" %}
{% load static %}
{% block content %}
    <main>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <h1>Avaliações</h1>

        <h2 class="avaliacao-titulo">Deixe sua avaliação</h2>
        <form method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar Avaliação</button>
        </form>
        <h2 class="avaliacao-titulo">Avaliações Anteriores</h2>
        <ul class="avaliacoes-anteriores">
            {% for comment in comments %}
                <li>
                    <div class="avaliacao-header">
                        <h2>Título da Avaliação</h2>
                        <p>Nome do Autor - Data</p>
                        <div class="star-rating">
                            <input type="radio" name="rating" id="rating-1" value="1">
                            <label for="rating-1"></label>
                            <input type="radio" name="rating" id="rating-2" value="2">
                            <label for="rating-2"></label>
                            <input type="radio" name="rating" id="rating-3" value="3">
                            <label for="rating-3"></label>
                            <input type="radio" name="rating" id="rating-4" value="4">
                            <label for="rating-4"></label>
                            <input type="radio" name="rating" id="rating-5" value="5">
                            <label for="rating-5"></label>
                        </div>
                    </div>
                    <div class="avaliacao-corpo">
                        <p>{{ comment.text }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
