{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div id="logo">
            <h2>Seniors</h2>
        </div>
        <nav>
            {% block navbar %}
                {% include 'amanda/nav.html' %}
            {% endblock %}
        </nav>
    </header>
    <!DOCTYPE html>
    
        <html>
        <main>
                {% block content %}{% endblock %}
        </main>
        </body>
        </html>

    <footer>
        <p>&copy; 2023 Seniors</p>
    </footer>
</body>
</html>