{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div>
        <section class="img_logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo Seniors" class="logo">
        </div>
    <div>
        <section class="nav_bar">
            <nav>
                {% block navbar %}
                    {% include 'amanda/nav.html' %}
                {% endblock %}
            </nav>
        </div>
</head>
<body>
    <!DOCTYPE html>
    
        <html>
        <main>
                {% block content %}{% endblock %}
            </div>
        </main>
        </body>
        </html>

    <footer>
        <p>&copy; 2023 Seniors</p>
    </footer>
</body>
</html>