{% extends "amanda/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!DOCTYPE html>
<html>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Genexxxxxxxxxro</button>
    </form>
    <div id="catalogo">
        <div class="livros-container">
            {% for livro_id, livro in dicionario_principal.items %}
            <div class="livro">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="livro-image">
                                <img src="{% static livro.imagem %}" alt="{{ livro.titulo }}">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h2>{{ livro.titulo }}</h2>
                            <p class="autor">Autor: {{ livro.autor }}</p>
                            <p class="genero">Gênero: {{ livro.genero }}</p>
                            <p class="ano">Ano de Publicação: {{ livro.ano_publicacao }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
