{% extends "amanda/base.html" %}
{% block content %}
{% load custom_filters %}
<h2>Detalhes do Livro</h2>
<img src="{{ livro.imagem }}" alt="{{ livro.titulo }}">
<h3>{{ livro.titulo }}</h3>
<p>Autor: {{ livro.autor }}</p>
<p>Gênero: {{ livro.genero }}</p>
<p>Editora: {{ livro.editora }}</p>
<p>Ano de Publicação: {{ livro.ano_publicacao }}</p>
<p>Idioma: {{ livro.idioma }}</p>
<p>Sinopse: {{ livro.sinopse }}</p>
<p>Status: {{ status_emprestimo.status }}</p>
<form method="post" action="{% url 'pegar_emprestado' livro_id=livro_id %}">
    {% csrf_token %}
        {% if status_emprestimo.status == "Disponível" %}
            <button type="submit">Pegar Livro Emrpestado</button>
        {% else %}
            <button type="submit" name="devolver" value="true">Devolver o Livro Emprestado</button>
            <input type="file" name="pdf_upload">
        {% endif %}
</form>
{% endblock %}