{% extends "amanda/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img src="{% static 'img/banner.jpg' %}" alt="banner" class="banner">
</head>
<body>
    <h2>DESTAQUES DA SEMANA</h2>
    <main class="cards-container">
        <div class="card">
            <span>
                <img src="{% static 'img/silmarillion.jpg' %}" alt="Imagem 1">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/agarotanotrem.jpg' %}" alt="Imagem 2">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/aculpaedasestrelas.jpg' %}" alt="Imagem 3">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/becoming.jpg' %}" alt="Imagem 4">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/ohomemdegiz.jpg' %}" alt="Imagem 5">
            </span>
            <div class="content">
            </div>
        </div>
    </main>

    <h2>SUSPENSE</h2>
    <main class="cards-container">
        <div class="card">
            <span>
                <img src="{% static 'img/itacoisa.jpg' %}" alt="Imagem 1">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/jogosvorazes.jpg' %}" alt="Imagem 2">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/agarotanotrem.jpg' %}" alt="Imagem 3">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/ohomemdegiz.jpg' %}" alt="Imagem 3">
            </span>
            <div class="content">
            </div>
        </div>
    </main>

    <h2>ROMANCE</h2>
    <main class="cards-container">
        <div class="card">
            <span>
                <img src="{% static 'img/aculpaedasestrelas.jpg' %}" alt="Imagem 1">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/milbeijosdegaroto.jpg' %}" alt="Imagem 2">
            </span>
            <div class="content">
            </div>
        </div>
        <div class="card">
            <span>
                <img src="{% static 'img/ossetemaridos.jpg' %}" alt="Imagem 3">
            </span>
            <div class="content">
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}
