{% extends "amanda/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<main>
    <section id="about-us">
        <header>
            <h1>Sobre Nós</h1>
        </header>
        <p>Bem-vindo à nossa página de livros digitais. Somos apaixonados por literatura e estamos dedicados a oferecer uma ampla seleção de livros digitais de alta qualidade para leitores de todas as idades.</p>
        <p>Nossa missão é promover a leitura e tornar os livros mais acessíveis a todos. Trabalhamos com autores talentosos e editoras renomadas para disponibilizar uma vasta coleção de títulos em diversos gêneros.</p>
        
        <p>Se você é um amante de livros, encontrará algo especial em nossa coleção. Explore nossa página, descubra novos mundos e desfrute da leitura em qualquer lugar, a qualquer hora.</p>
    </section>
</main>
{% endblock %}
