body, h1, h2, h3, p, ul, li, a, img, div, form, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Estilize o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    display: flex;
    justify-content: center; /* Centralize os elementos horizontalmente */
    align-items: center; /* Centralize os elementos verticalmente */
    flex-direction: column; /* Alinhe os elementos verticalmente */
    padding: 20px;
    background-color: #222;
}

/* Estilize a classe "logo" para ajustar o tamanho da imagem */
.logo {
    max-width: 100%; /* Ajuste o tamanho máximo para o tamanho original da imagem */
    height: 50px; /* Isso manterá a proporção da imagem */
    position: relative;
    top: 7px;

}

/* Estilize o cabeçalho para controle de posicionamento */
header {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos, colocando a logo à esquerda e o conteúdo à direita */
    align-items: center;
    padding: 6px 20px;
    max-width: 100%;
    background-color: #222;
}

/* Estilize a barra de navegação */
nav {
    position: absolute;
    justify-content: center;
    left: 210px;
}

/* Estilize os links na barra de navegação */
nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #00C2CB; /* Cor de destaque ao passar o mouse */
}

.search {
    display: flex;
    position: relative;
    justify-content: flex-end; /* Alinhe a barra de pesquisa no canto superior direito */
}
  
.search input[type="text"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
  
.search button[type="submit"] {
    background-color: #00C2CB;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
  
.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #00a6af;
    transition: .9s ease;
}

.banner {
    max-width: 93%;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 40px; /* Adiciona bordas arredondadas */
}

h2 {
    text-align: center; /* Centralizar o texto horizontalmente */
    font-size: 24px; /* Tamanho da fonte desejado */
    margin: 50px 0 0px; /* Margin superior de 50px e inferior de 20px, ajuste conforme necessário */
}

main.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Para colocar os cards em linha */
    background-color: #222;

}

.card {
    position: relative;
    width: 170px;
    height: 250px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    margin: 50px; /* Espaçamento entre os cards */
    top: -30px
}

.card:hover {
    transform: translateY(-20px);
}

.card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(1deg, #fff, #fff);
    border-radius: 1.2em;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1deg, #00C2CB, #00C2CB);
    filter: blur(10px);
}

.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    border-radius: 1em;
}

.card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .content {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.card img {
    max-width: 95%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1em;

}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #00C2CB;
    border-radius: 1rem;
}

.flip-card-front {
    color: #ffffff;
}
  
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}


/* Estilize o rodapé */
footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 11px;
}

/* Estilos para o container de livros */
.livros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px; /* Define a largura máxima do container de livros */
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

/* Estilos para cada livro/card */
.livro {
    width: auto; /* Largura automática de acordo com o tamanho do conteúdo */
    margin: 40px; /* Espaçamento entre os livros */
    overflow: visible; /* Impede que o conteúdo vaze para fora do card */
    border-radius: 20px; /* Borda arredondada para o card */
}

/* Estilos para a imagem do livro */
.livro-image img {
    max-width: 100%; /* A imagem se ajustará automaticamente ao card */
    height: auto; /* A imagem manterá a proporção original */
    display: block; /* Remove margens indesejadas e mantém a imagem alinhada */
    border-radius: 20px; /* Borda arredondada para a imagem */
}

.livro-image1 {
    position: relative;
    border-radius: 20px; /* Borda arredondada para a imagem */
    margin: 10px;
}

.card1 {
    position: relative;
    width: 300px;
    padding: 5.8rem 4.4rem;
    text-align: center;
    background: #1a1a1a;
    border-radius: 20px;
}
   
   /*Inputs*/
.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border-radius: 4px;
    padding: .5em 1em;
}
   
.input-icon {
    height: 1em;
    width: 1em;
    fill: #00C2CB;
}
   
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #00C2CB  ;
}
   
   /*Text*/
.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}
   
   /*Buttons*/
.btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #00C2CB;
    color: #fff;
    box-shadow: 0 0 10px 0 #00C2CB;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
   
.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}
   
   /*Hover & focus*/
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.infolivros {
    position: relative;
    justify-content: space-between;
    display: block;
    margin: auto;
}

.livro-container {
    display: flex;
}

.livro-info {
    flex: 2; /* Ajuste conforme necessário para o tamanho desejado */
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #005ce6;
  }