body, h1, h2, h3, p, ul, li, a, img, div, form, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilize o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    display: flex;
    justify-content: center; /* Centralize os elementos horizontalmente */
    align-items: center; /* Centralize os elementos verticalmente */
    flex-direction: column; /* Alinhe os elementos verticalmente */
    padding: 20px;
    background-color: #222;
}

/* Estilize a classe "logo" para ajustar o tamanho da imagem */
.logo {
    max-width: 100%; /* Ajuste o tamanho máximo para o tamanho original da imagem */
    height: 50px; /* Isso manterá a proporção da imagem */
    position: relative;
    top: 7px;

}

/* Estilize o cabeçalho para controle de posicionamento */
header {
    display: flex;
    justify-content: auto;
    align-items: center;
    padding: 6px 20px;
}

/* Estilize a barra de navegação */
nav {
    position: relative;
    top: 5px;
    left: 166px;
}

/* Estilize os links na barra de navegação */
nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #00C2CB; /* Cor de destaque ao passar o mouse */
}

.search {
    display: inline-block;
    position: relative;
    left: 1480px;
    top: 5px;

}
  
.search input[type="text"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
  
.search button[type="submit"] {
    background-color: #00C2CB;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
  
.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #00a6af;
    transition: .9s ease;
}

.banner {
    display: block;
    margin: auto;
    position: relative;
    border-radius: 40px; /* Adiciona bordas arredondadas */
}

h2 {
    text-align: center; /* Centralizar o texto horizontalmente */
    font-size: 24px; /* Tamanho da fonte desejado */
    margin: 50px 0 0px; /* Margin superior de 50px e inferior de 20px, ajuste conforme necessário */
}

main.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Para colocar os cards em linha */
    padding: 20px;
    background-color: #222;
}

.card {
    position: relative;
    width: 170px;
    height: 250px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    margin: 50px; /* Espaçamento entre os cards */
    position: relative;
    top: -30px
}

.card:hover {
    transform: translateY(-20px);
}

.card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(1deg, #fff, #fff);
    border-radius: 1.2em;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1deg, #00C2CB, #00C2CB);
    filter: blur(10px);
}

.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    border-radius: 1em;
}

.card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.card .content {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.card img {
    max-width: 95%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1em;

}


/* Estilize a imagem do livro */
.livro-imagem {
    max-width: 150px;
    height: auto;
}

/* Estilize as informações do livro */
.livro-info {
    flex: 1;
    padding: 10px;
}


/* Estilize o rodapé */
footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 11px;
}

/* Estilize o título das avaliações */
/* Adicione os estilos específicos para a página de avaliações */
/* Estilize o título das avaliações */
.avaliacao-titulo {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilize a lista de avaliações anteriores */
.avaliacoes-anteriores {
    list-style: none;
    padding: 0;
}

.avaliacoes-anteriores li {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.avaliacoes-anteriores li strong {
    font-weight: bold;
}

/* Estilize a classe para estrelas */
.star-rating {
    display: inline-block;
    font-size: 24px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 1.5em;
    color: #FFD700; /* Cor das estrelas preenchidas */
    cursor: pointer;
}

.star-rating label:before {
    content: "\2605"; /* Código da estrela vazia no Unicode */
}

.star-rating input[type="radio"]:checked + label:before {
    content: "\2605"; /* Código da estrela preenchida no Unicode */
    color: #FFD700; /* Cor das estrelas preenchidas */
}
.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilize os blocos de livro no catálogo */
.livro-catalogo {
    width: 48%; /* Para que dois livros se encaixem na mesma linha */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    transition: box-shadow 0.3s;
}

.livro-catalogo:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efeito de destaque ao passar o mouse */
}

/* Estilize os detalhes do livro no catálogo */
.livro-catalogo h3 {
    font-size: 18px;
    margin-top: 10px;
}

.livro-catalogo p {
    font-size: 14px;
    margin: 10px 0;
}

/* Estilize o link "Pedir Empréstimo" */
.livro-catalogo a {
    background-color: #6be446;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    transition: background-color 0.3s;
}

.livro-catalogo a:hover {
    background-color: #5cc03d; /* Cor de destaque ao passar o mouse */
}


