/* Reset padrão para remover margens e preenchimentos */
body, h1, h2, h3, p, ul, li, a, img, div, form, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilize o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    display: flex;
    flex-direction: column;
}

/* Estilize a classe "logo" para ajustar o tamanho da imagem */
/* Estilize a classe "logo" para ajustar o tamanho e centralizá-la */
.logo {
    max-width: 100%; /* Ajuste o tamanho máximo para o tamanho original da imagem */
    height: 150px; /* Isso manterá a proporção da imagem */
    display: block; /* Torna a imagem um bloco para centralizá-la facilmente */
    margin: 0 auto; /* Margens automáticas horizontalmente para centralizar */
}



header {
    text-align: center;
}

/* Estilize a barra de navegação */
nav {
    background-color: #1d2024;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

/* Estilize os links na barra de navegação */
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s;
    
}

nav a:hover {
    color: #6be446; /* Cor de destaque ao passar o mouse */
}

/* Estilize o conteúdo principal */
main {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilize os destaques de livros */
/* Estilize os destaques de livros */
/* Estilize os destaques de livros */
.destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilize os blocos de livro */
/* Estilize os blocos de livro */
.livro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s;
}

/* Estilize a imagem do livro */
.livro-imagem {
    max-width: 150px;
    height: auto;
}

/* Estilize as informações do livro */
.livro-info {
    flex: 1;
    padding: 10px;
}


/* Estilize o rodapé */
footer {
    text-align: center;
    background-color: #1d2024;
    color: #fff;
    padding: 11px;
}

/* Estilize o título das avaliações */
/* Adicione os estilos específicos para a página de avaliações */
/* Estilize o título das avaliações */
.avaliacao-titulo {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilize a lista de avaliações anteriores */
.avaliacoes-anteriores {
    list-style: none;
    padding: 0;
}

.avaliacoes-anteriores li {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.avaliacoes-anteriores li strong {
    font-weight: bold;
}

/* Estilize a classe para estrelas */
.star-rating {
    display: inline-block;
    font-size: 24px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 1.5em;
    color: #FFD700; /* Cor das estrelas preenchidas */
    cursor: pointer;
}

.star-rating label:before {
    content: "\2605"; /* Código da estrela vazia no Unicode */
}

.star-rating input[type="radio"]:checked + label:before {
    content: "\2605"; /* Código da estrela preenchida no Unicode */
    color: #FFD700; /* Cor das estrelas preenchidas */
}



